:root{
    --color-claro : #ffe29a;
    --color-semiclaro : #ffc27f;
    --color-medio : #f88863;
    --color-mediooscuro : #ac4147;
    --color-oscuro : #411f2d;
    --color-muyclaro : #fff5dd;
    --gradiente: linear-gradient(90deg, rgba(255,245,221,1) 44%, rgba(248,136,99,1) 100%, rgba(172,65,71,1) 100%);

    --lupa: url(/assets/icons/lupa-o.png);
    --lupa-2: url(/assets/icons/lupa-c.png);
    --user: url(/assets/icons/user-o.png);
    --logo-simple: url(/assets/icons/2-o.png);
    --carrito: url(/assets/icons/carrito-o.png);
    --fb: url(/assets/icons/facebook-o.png);
    --tw: url(/assets/icons/gorjeo-o.png);
    --tiktok: url(/assets/icons/tik-tok-o.png);
    --instagram: url(/assets/icons/instagram-o.png);

}

body{
    overflow-x: hidden;
    background: var(--color-muyclaro);
}


@keyframes temblor {
    0% {
      transform: translate(0);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translate(0.4rem);
    }
    10%,
    30%,
    50% {
      transform: translate(-0.1rem);
    }
    70%,
    100% {
      transform: translate(0);
    }
  }
  