
.inicio-usuario{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 325.79px);
    padding-top: 70px;
}

.h1 {
    color: var(--color-mediooscuro);
    font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.title {
    color: var(--color-muyclaro);
  font-size: 2.5rem;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.p {
  font-size: 1rem;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
}

.span {
  font-size: 14px;
  margin-top: 25px;
  color: var(--color-mediooscuro);
}

.a {
  color: var(--color-mediooscuro);
  font-size: .9rem;
  text-decoration: none;
  margin: 15px 0;
  transition: 0.3s ease-in-out;
}

.a:hover {
  color: var(--color-medio);
}

.content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  font-size: .8rem;
}

.checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}


.pass-link{
  color: var(--color-mediooscuro);
  opacity: .8;
  transition: all .5s ease-in-out;
}

.pass-link:hover{
  opacity: 1;
  text-decoration: underline;
}



.content input {
  accent-color: var(--color-mediooscuro);
  width: 12px;
  height: 12px;
}

.content label {

  user-select: none;
  padding-left: 5px;
  color: var(--color-mediooscuro);
}

.button {
  position: relative;
  clip-path: polygon(0 0, 80% 0%, 100% 10%, 100% 100%, 80% 100%, 20% 100%, 0 88%, 0% 20%);
  border: 1px solid var(--color-medio);
  background-color: var(--color-medio);
  color: var(--color-muyclaro);
  font-size: 1rem;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

.button:hover {
  letter-spacing: 3px;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button.ghost {
  background-color: rgba(255, 194, 127, 0.2);
  color: var(--color-muyclaro);
  border: none;
}

.button.ghost i {
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.button.ghost i.register {
  right: 70px;
}

.button.ghost i.login {
  left: 70px;
}
.button.ghost:hover i.register {
  right: 40px;
  opacity: 1;
}

.button.ghost:hover i.login {
  left: 40px;
  opacity: 1;
}

form {
  background-color: var(--color-medioclaro);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  height: calc(100% - 100px);
  width: calc(100% - 100px);
  text-align: center;
  position: relative;
}

#errorSign{
  position: absolute;
  bottom: 0;
  left: 0;
  margin:10px 50px ;
  color: red;
  width: calc(100% - 100px);
  height: 50px;
  text-align: left;
  text-justify: distribute;
  word-wrap: break-word;
  font-size: .75rem;
}

#errorLogin{
  position: absolute;
  bottom: 10px;
  left: 0;
  margin:10px 50px ;
  color: red;
  width: calc(100% - 100px);
  height: 50px;
  text-align: left;
  text-justify: distribute;
  word-wrap: break-word;
  font-size: .75rem;
}

.input {
  background-color: var(--color-muyclaro);
  border-radius: 10px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: calc(100% - 30px);
  color: var(--color-mediooscuro);
  outline: none;

}

.input::placeholder{
    color: var(--color-medio);
}

.sesion {
  background-color: var(--color-muyclaro);
  clip-path: polygon(0 0, 80% 0%, 100% 10%, 100% 100%, 80% 100%, 20% 100%, 0 88%, 0% 20%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), e 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 900px;
  max-width: 100%;
  height: 500px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  z-index: 1;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sesion.right-panel-active .login-container {
  transform: translateX(100%);
}

.register-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sesion.right-panel-active .register-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.sesion.right-panel-active .overlay-container {
  transform: translate(-100%);
}

.overlay {
  background-image: url("/assets/pexels-karolina-grabowska-5743177.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: var(--color-muyclaro);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,

    rgba(46, 94, 109, 0.4) 40%,

    rgba(46, 94, 109, 0)
  );
}

.sesion.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  top: 0;
  height: 100%;
  width: calc(50% - 40px);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.sesion.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.sesion.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}
.social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  transition: 0.3s ease-in-out;
}

.social-container a:hover {
  animation: temblor .8s;
}

.Ini{
    width: 40px;
    height: 40px;
    background-size: cover;
}

.fb{
    background-image: var(--fb);
}

.google{
    background-image: var(--google);
}


.logError{
  border: 1px solid red;
}