.header{
    width: 100%;
    height: 70px;
    background-color: var(--color-claro);
    z-index: 999999;
    position: fixed;
}

.header__search {
    justify-self: flex-start;
}

.header__search input{
    width: 300px;
}






/* PRUEBA 2 */

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    width: 1440px;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo--img{
    width: 60px;
    height: 43px;
    background-image: var(--logo-simple);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.header__logo--nombre{
    font-family: 'Cinzel', serif;
    color: var(--color-mediooscuro);
    font-size: 2rem;
    font-weight: 600;
}


.header__nav ul{
    display: flex;
}

.header__nav--item{
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-mediooscuro);
    transition: all 0.5s;
}

.header__nav--item:hover{
    background-color: var(--color-medio);
    letter-spacing: 3px;
}

.header__nav--item:active{
    background-color: var(--color-mediooscuro);
    color: var(--color-claro);
}

.header__carrito{
    width: 30px;
    height: 30px;
}

.header__carrito--img{
    width: 30px;
    height: 30px;
    background-image: url(/assets/icons/carrito-o.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__icons{
    display: flex;
    width: 100px;
    justify-content: space-between;
}