

.banner__descripcion{
    position: absolute;
    top: 300px;
    width: 1440px;
    display: flex;
    flex-direction: column;

}

.banner__descripcion--letras{
    display: flex;
    justify-content: center;
}

.banner__descripcion--titulo{
    color: var(--color-claro);
    font-size: 3.75rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(10px);
    width: 650px;
}

.banner__descripcion--contenido{
    color: var(--color-claro);
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

