<footer>
  <section class="footer">
    <div class="footer__box">
      <div class="footer__info">
        <ul>
          <li><a href="" class="footer__info--item">About us</a></li>
          <li><a href="" class="footer__info--item">Privacy policies</a></li>
          <li><a href="" class="footer__info--item">loyalty program</a></li>
          <li><a href="" class="footer__info--item">Our shops</a></li>
          <li>
            <a href="" class="footer__info--item">I want to be a franchisee</a>
          </li>
        </ul>
      </div>
      <div class="footer__logo">
        <img src="../../../assets/2-o.png" alt=""  />
        <div class="footer__desarrollado">
          <a href="">
            <h1 class="footer__desarrollado--txt">Developed by</h1>
            <p class="footer__desarrollado--txt">Alexandra Linares Viña</p>
            <p class="footer__desarrollado--txt">
              Copyright &copy; 2023 Ateriss
            </p>
          </a>
        </div>
      </div>
      <div class="footer__contacto">
            <span> Follow us in </span>
            <ul>
              <li><i class="bi bi-facebook RRSS"></i></li>
              <li><i class="bi bi-twitter RRSS"></i></li>
              <li><i class="bi bi-tiktok RRSS"></i></li>
              <li><i class="bi bi-instagram RRSS"></i></li>
            </ul>
      </div>
    </div>
  </section>
</footer>
